@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400);
@import url(https://fonts.googleapis.com/css?family=Rozha+One|EB+Garamond|Spectral+SC);

* { margin:0; padding:0; box-sizing: border-box; }

body {
	font-size: 16px;
    background-color: #f4f4f6;
    font-family: 'Monsterrat', sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;   
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
}

h3 {
    font-size: 1.8em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid #a6927e;
    border-color: #a6927e;
}

p {
    font-size: 1.1em;
    font-family: 'EB Garamond', serif;
    text-align: left;
}

nav {
	background-color: #f4f4f6;
	width: 100%;
}

nav a {
	display: inline-block;
    text-decoration: none;
    font-size: 1em;
    color: #484848;
}

a:hover {
    text-decoration: underline;
}

header#hero {
    background-image: url("https://i.imgur.com/xGFb1s5.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
}

h1#hero-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 11vw;
    font-weight: 200;
    width: 100%;
    position: absolute;
    color: #FFFFFF;
    top: 45vh;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

section#inspired {
    text-align: center;
    color: #494949;
    font-size: 1.5em;
    clear: both;
    }

.wrapper {
    width: 75%;
    max-width: 80%;
    margin: 0 auto;
}

.main {
    padding: 4.5em;
}

p {
    font-size: 1.5em;
    margin: 2em;
}

img {
    height:100%;
    width: 100%;
    padding: 2%;
}

a {
    font-weight: 200;
    font-size: 1.5em;
    font-family: 'Monsterrat', sans-serif;
    text-transform: none;
    font-style: italic;
    text-decoration: underline;
    color: #494949;
    margin: 1em;
}

a:hover {
     color: #a6927e;
 }

footer {
	font-size: .8em;
	text-align: center;
    border-top: 1px solid #a6927e;
    color: #a6927e;
    padding: 2%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 768px) {

	body {
		font-size: 16px;
	}

	.wrapper {
		width: 100%;
	}

	nav {
	}

	nav a {
		float: none;
		display: block;
		padding: 1em;
		text-align: center;
		text-decoration: underline;
	}

	h1#herotext {
		font-size: 16vw;
		font-weight: 300;
		top: 70vh;
	}

	header#hero {
		margin: 0;
		height: 60vh;
	}

	section#inspired {
		padding: 0;
		font-size: 1.2em;
	}

	p#inspired {
		font-size: 1em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		padding: .5em;
	}

	p {
		margin: 0;
		padding: 1em;
	}

	a {
/*		margin: 1em;*/
	}

	img {
		padding-bottom: 2em;
	}

	.main {
		padding: 0;
	}

	footer {
		padding: 2em;
	}
}

@media only screen and (max-width: 425px) {

	h1#herotext {
		font-size: 2em;
		font-weight: 300;
		top: 50vh;
	}

	header#hero {
		margin: 0;
		height: 40vh;
	}

 	.wrapper {
 		width: 100%;
 		max-width: 100%;
 	}

 	nav {
 		display: none;
 	}

 	nav a {
 		display: none;
 	}

 	p{
 		margin: 0;
 		font-size: 1em;
 	}

}

