@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400);
@import url(https://fonts.googleapis.com/css?family=Rozha+One|EB+Garamond|Spectral+SC);

* { margin:0; padding:0; box-sizing: border-box; }

body {
    background-color: #FFFFFF;
    font-family: 'Monsterrat', sans-serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2em;

}

h3 {
    text-align: center; 
    text-transform: uppercase;  
    font-size: 2em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding-top: 90px;
    padding-bottom: 20px;

}

h4 {
    text-align: center;  
    font-size: 1.8em;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 900px;
    margin: 0 auto;

}

p {
    font-size: 1.1em;
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding-bottom: 2em;
}

nav {
    font-size: 1.2em;
    float: right;
}

nav a {
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    margin: 15px;
    margin-right: 60px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

a:hover {
    color: #a6927e;
    text-decoration: underline;
}

h1, #hero-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 10vw;
    font-weight: 200;
    letter-spacing: 10px;
    margin: 0 auto;
    position: relative;
    color: #FFFFFF;
    top: 50vh;
}

header#hero {
    background-image: url("https://i.imgur.com/xGFb1s5.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat:no-repeat;
    height: 80vh;
}


img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
}


img {
    float: right;
    height: 300px;
    width: 300px;
    padding: 2px;
}

.row1{
    float: left;
    font-size: 1.5em;
    padding-top: 14px;
    padding-right: 10px;
}

p.rowtext {
    margin-top: 60px;
    margin-left: 10px;
}


/*
.column2, #row2 {    
    font-size: 1.3em;
    float: left;
    width: 40%;
    padding: 22px;
}

.column3, #row3 {
    font-size: 1.3em;
    float: left;
    width: 40%;
    padding: 22px;
}*/


a {
    font-weight: 200;
    font-size: 1em;
    font-family: 'Monsterrat', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    color: #494949;
}

a:hover {
    color: #a6927e;
}

div {

}

footer {
    border-top: 1px solid #a6927e;
    color: #a6927e;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}