@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400);
@import url(https://fonts.googleapis.com/css?family=Rozha+One|EB+Garamond|Spectral+SC);

* { margin:0; padding:0; box-sizing: border-box; }

body {
    background-color: #f4f4f6;
    font-family: 'Monsterrat', sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;   
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    font-weight: 200;
    letter-spacing: .1em;
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;

}

h3 {
    font-size: 1.8em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

}

p {
    font-size: 1.1em;
    font-family: 'EB Garamond', serif;
    text-align: left;
}

ul {
	list-style-type: none;
    display: inline;
}

li {
	padding: 1%;
	float: right;
}

li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #484848;
}

a:hover {
    text-decoration: underline;
}

#hero-text {
    text-align: center;
    position: relative;
    color: #FFFFFF;
    top: 35vh;
}

#hero {
    background-image: url("https://i.imgur.com/xGFb1s5.jpg");
    background-position: center;
    background-size: cover;
    margin: 30 20 45 20;
    height: 70vh;
}


img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#inspired {
    text-align: center;
    color: #494949;
    font-size: 1.5em;
    padding: .1% 18% 6% 18%;
}

.wrapper {
    width: 70%;
    max-width: 75%;
    margin: 0 auto;
}

.portfolio {
    padding: 5em;
    border-top: 1px solid #a6927e;
    border-color: #a6927e;
}

.about {
    padding: 5em;
    border-top: 1px solid #a6927e;
    border-color: #a6927e;
}

.blog {
    padding: 5em;
    border-top: 1px solid #a6927e;
    border-color: #a6927e;
}


p {
    font-size: 1.5em;
    margin: 2em;
}

img {
    height:100%;
    width: 100%;
    padding: 3%;
}

a {
    font-weight: 200;
    font-size: 1.5em;
    font-family: 'Monsterrat', sans-serif;
    text-transform: none;
    font-style: italic;
    text-decoration: underline;
    color: #494949;
    margin: 2em;
}

a:hover {
     color: #a6927e;
 }


div {

}

footer {
	font-size: .8em;
	text-align: center;
    border-top: 1px solid #a6927e;
    color: #a6927e;
    padding: 2%;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 768px) {
	ul {
		width: auto;
		text-align: center;
	}

	li {
		float: none;
		border-bottom: 1px solid #a6927e;
	}
	.wrapper {
		width: 100%;
	}

	h1 {
		font-size: 20vw;
	}

	#hero {
		margin: 0;
	}

	#inspired {
		padding: 0;
	}

	.portfolio {
		padding: 0;
		border-width: 100%;
	}

	.about {
		padding: 0;
	}

	.blog {
		padding: 0;
	}
}

