@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One|Crimson+Text|PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Catamaran|Cabin);

body {
  height: 100%;
  background-size: 100%;
}

#hero {
    background-image: url("https://i.imgur.com/xlP8Imp.jpg");
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 45px;
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

#hero-text {
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  text-transform: lowercase;
  font-size: 80px;
}

h2 {
    font-family: "Julius Sans One", sans-serif;
    color: "#9AAA8A";
    text-align: center;
/*    text-transform: uppercase;*/
    font-size: 40px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
/*  text-transform: uppercase;*/
  font-size: 50px;
  font-weight: 100;
/*  margin-top: 30px;*/
  margin-bottom: 2px;
}

nav {
    padding-right: 10px;
    padding-left: 750px;
    padding-top: 20px;
}

button {
    font-size: 13px;
    font-color: White;
    font-family: "Julius Sans One", sans-serif;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: .5px;
    margin-right: 20px;
    border: solid;
    border-width: 1px;
    min-width: 80px;
    max-width: 80px;
}

#work {
    color: white;
    border-color: white;
    text-transform: uppercase;
}

#blog {
    color: white;
    border-color: white;
    text-transform: uppercase;
}

#about {
    color: white;
    text-transform: uppercase;
    border-color: white;
}

#contact {
    color: white;
    border-color: white;
    text-transform: uppercase;
}

p.column1 {
    font-size: 15px;
    font-color: Gray;
    font-family: "PT Serif", serif;
    font-weight: 200;
    text-align: center;
    margin-top: -20px;
    margin-right: 270px;
    margin-left: 270px;
/*    border-right: 1px solid;*/
    padding-right: 0px;
    line-height: 2em;
/*    f
loat: left;*/
}
p.portfolio {
    font-size: 15px;
    font-color: Gray;
    font-family: "PT Serif", serif;
    font-weight: 200;
    text-align: center;
/*  margin-top: -50px;
*/  margin-right: 240px;
    margin-left: 240px;
/*  border-right: 1px solid;*/
    padding-right: 0px;
    line-height: 2em;
/*  float: left;*/
}

p.blog {
    font-size: 15px;
    font-color: Gray;
    font-family: "PT Serif", serif;
    font-weight: 200;
    text-align: center;
/*  margin-top: -50px;
*/  margin-right: 240px;
    margin-left: 240px;
/*  border-right: 1px solid;*/
    padding-right: 0px;
    line-height: 2em;
/*  float: left;*/
}
/*p.column2 {
    font-size: 16px;
    font-color: Gray;
    font-family: "Catamaran";
    margin-left: 700px;
    margin-top: -57px;
    margin-right: 30px;
    padding-bottom: 100px;
    line-height: 2em;
    display: inline-block;
    float: right;
}*/

/*#flowerbunch {

}

#sandpuzzle {

}

#bouquet {

}*/